<div class="container">


    <div class="row">

        <div class="col-md-12 col-lg-12 col-sm-12">

            <hr>

            <h4>Server Side DataTable</h4>

            <hr>

            <form [formGroup]="searchForm" (ngSubmit)="searchData()">

                <div class="row">
                    <div class="col-md-3 col-lg-3 col-sm-12">

                        <label for="fullName">Full Name</label>
                        <input type="text" class="form-control"  placeholder="Enter Full Name" formControlName="fullName">
    
                    </div>
            
                    <div class="col-md-3 col-lg-3 col-sm-12 ">

                        <label for="emailId">Email Id</label>
                        <input type="text" class="form-control"  placeholder="Enter Email Id" formControlName="emailId">
    
                    </div>
                
                    <div class="col-md-3 col-lg-3 col-sm-12">

                        <label for="country">Country</label>
                        <input type="text" class="form-control"  placeholder="Enter Country" formControlName="country">
    
                    </div>

                    <button class="btn-sm btn-primary mr-2" type="button" (click)="searchData()">Find</button>
                    <button class="btn-sm btn-warning mr-2" type="button" (click)="clearData()">Clear</button>

                    
                </div>

                

            </form>


        </div>

    </div>

    <div class="row mt-4">

        <div class="col-md-12 col-lg-12 col-sm-12">


            <table class="table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">

                <thead>

                    <tr>

                        <td>User Id</td>
                        <td>Full Name</td>
                        <td>Phone</td>
                        <td>EmailId</td>
                        <td>PostalZip</td>
                        <td>Region</td>
                        <td>Country</td>
                    </tr>

                </thead>

                <tbody *ngIf="dataTableErrorMsg">

                    <tr *ngFor="let item of userDataList">

                        <td>{{ item.id }}</td>
                        <td>{{ item.fullName }}</td>
                        <td>{{ item.phone }}</td>
                        <td>{{ item.emailId }}</td>
                        <td>{{ item.postalZip }}</td>
                        <td>{{ item.region }}</td>
                        <td>{{ item.country }}</td>
                    </tr>

                </tbody> 
                <tbody *ngIf="!dataTableErrorMsg">
                    <tr>
                      <td colspan="7" class="text-center">No data!</td>
                    </tr>
                  </tbody> 

            </table> 

        </div>
    </div>
</div>